<?xml version="1.0" encoding="utf-8"?>
<Config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Enabled>true</Enabled>
  <ServerUrl>http://update.iyond.com/updateservice.xml</ServerUrl>
  <UpdateFileList>
      <LocalFile path="SendEmail.exe" lastver="1.0.0.0" size="28672"  md5="9ba87ff6f4416419172fe0d50e87e877"/>
      <LocalFile path="SendEmail.ilk" lastver="1.1.0.0" size="888832" md5="38fe09cfe537c4b11d39508bc0f928dd"/>
      <LocalFile path="SendEmail.pdb" lastver="1.1.0.0" size="123" md5="f90b4b12c3ffc34eead9cf8cf84a0e0a"/>
  </UpdateFileList>
</Config>